# Hidden
.*
!/.gitignore
!.gitkeep
/data/

# Manual
!/.github/workflows/verify.yaml
!/.devcontainer/devcontainer.json
!/.vscode/settings.json
!/data/catalogue.json
!/data/*.csv

# Python
__pycache__/
# *.py[cod]
# *$py.class
/build/
/*.egg-info/