# Hidden
.*
!.gitkeep
/data/

# Manual
!/.github/workflows/verify.yaml
!/.vscode/settings.json
!/.flake8
!/data/catalogue.json
!/data/*.csv

# Python
__pycache__/
# *.py[cod]
# *$py.class
/build/
/*.egg-info/
