# Hidden
.*
!/.gitignore
!.gitkeep
/data/
/site/

# Manual
!.env-template
!/.github/workflows/verify.yaml
!/.github/workflows/deploy_docs.yaml
!/.devcontainer/devcontainer.json
!/.vscode/settings.json
!/data/catalogue.json
!/data/*.csv

# Python
__pycache__/
# *.py[cod]
# *$py.class
/build/
/*.egg-info/
