apache-sedona==1.4.1
black
contextily
databricks-cli
databricks-sdk
dbx
esridump
flake8
geopandas
ipykernel
ipython
ipywidgets
isort
osdatahub
osmnx
pandas
pyarrow
pydantic
pylint
pyspark
pytest
rich
rioxarray
ruff==0.1.15
seaborn
sentinelsat
